<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">

    <style>
      .chatbox{
        background: url('/img/<%=image%>');
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    </style>
  </head>

  <body>
      <img src="" alt="">
      <div class="chatbox">
        <div class="row">
          <div class="chat-main col-lg-7 col-sm-6" id="wrapper">
              <ul id="messages">

              </ul>

              <form action="">
                <input type="text" id="message" autocomplete="off">
                <button id="send">Send</button>
              </form>

              <div class="scrollbar">
                <div class="slider">

                </div>
              </div>
          </div>


          <div class="people col-lg-4 col-sm-3">
            <ul class="people-list">
              <li></li>
            </ul>
          </div>
        </div>

      </div>



    <%include partials/footer %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      

      $(function () {
        var socket = io();
        $('form').submit(function(){
          socket.emit('chat message', $('#message').val());
          $('#message').val('');
          return false;
        });

        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
      });


    </script>
  </body>
</html>
