<html>
  <head>
    <% include partials/head %>
  </head>

  <body>

      <div class="chatbox">
        <div class="row">
          <div class="chat-main col-lg-7 col-sm-6">
              <ul id="messages">

              </ul>

              <form action="">
                <input type="text" id="message" autocomplete="off">
                <button id="send">Send</button>
              </form>
          </div>


          <div class="people col-lg-4 col-sm-3">
            <ul class="people-list">
              <li></li>
            </ul>
          </div>
        </div>

      </div>



    <%include partials/footer %>
    <% include partials/script %>
  </body>
</html>
