<html>
  <head>
    <% include partials/head %>
  </head>

  <body>
    <div class="menu">
      <h1>Choose your house</h1>

        <div class="row">
            <div class="thumbnails">
              <%houseArr.forEach(function(house){%>

                <img src="/img/<%= house.poster%>" class="img-thumbnail" alt="">

              <%})%>
          </div>
        </div>

    </div>

    <%include partials/footer %>
    <% include partials/script %>
  </body>
</html>
