<html>
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header>
        <div class="container">
          <h1>Fear  cuts  deeper  than  swords</h1>
          <hr>
          <button class="btn" id="enter"><a href="#">Enter</a></button>
        </div>

        
    </header>

    <% include partials/script %>
  </body>
</html>
