<html>
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header>
        <div class="container">
          <h1>Fear  cuts  deeper  than  swords</h1>
          <hr>
            <a href="/chatroom"><button class="btn" id="enter">Enter</button></a>
        </div>


    </header>
    <%include partials/footer %>
    <% include partials/script %>
  </body>
</html>
