@font-face{
  /* CUSTOM FONT */
  font-family: gotFont;
  src: url('../fonts/GameOfThrones.ttf');
}

/*========================================
      BASIC BODY STYLES
=========================================*/


/* Styles for the landing page
*/


body{
  font-family: gotFont !important;
  text-align: center;
}

header{
  height: 100%;
  width: 100%;

  background: url('../img/jon-snow.jpg');
  background-size: cover;
  background-position: center;

}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


.container h1{
  letter-spacing: 12;

  color: #fff;
}

.container{

  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 20% auto;
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -ms-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -o-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

#enter{
  display: block;
  margin: 25px auto;
  padding: 10px 40px;
  color: black;
}

.btn:hover{
  background-color: #65666b;
  transition: all 0.5s;
}

.footer-content{
  padding: 10px;
  background-color: grey;
  color: white;
}

/*==========================================================
Styles for chatroom
=========================================================*/


li{
  list-style: none;
}

form{
  display: block;
  float: clear;
  height: 10%;
  width: 90%;
}

#messages{
  height: 90%;
}

#message{
  display: inline;
  width: 90%;
  padding: 8px;
}

#send{
  display: inline;
  padding: 8px;
}

.chatbox{
  width: 100%;
  height: 100%;
  background: url('../img/khal-drogo.png');
  background-size: cover;
}

.chat-main{
  width: 60%;
  diplay: inline;
  height: 90%;

  margin: 10px;
  margin-left: 22px;

  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -ms-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -o-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

.people{
  width: 20%;
  height: 90%;
  display: inline;
  margin: 10px;

  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -ms-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background: -o-linear-gradient(bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3));



}

/*|01010011|01100001|01110010|01110100|01101000|01100001|01101011|00100000|01001110|01100101|01100111|01101001|00001101*/
/*============================================================
                  MEDIA QUERIES
=============================================================*/
@media(max-width: 522px){
  header{
    background-position:right;
  }
  .container h1{
    color: white;
  }

  .container{
    margin-top: 45%;
  }



}
@media(max-width: 800px){
  .people{
    display: none;
  }

  .chat-main{
    width: 88%;

    display: block;
  }

  .chatbox{
    margin: 1px;
    background-position: center;
  }}

  form{
    display: inline-block;
  }

  #messages{
    height: 80%;
  }
}
